page-login {

.fixed-content{
  background-image: url('http://creativeoutsourcesolutions.com/appimages/bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  // background-color: #1C283E;
  // text-align: center;
}

.forms{
  margin-top: 75%;
  padding: 10px;
}

ion-item-group .group{
  background: #1C283E;
}

p{
  color: white;
}

ion-item button{
  border-radius: 300px;
  border: 2px solid dodgerblue;
}

.rad{
  border-radius: 25px;
  border-bottom: 2px solid dodgerblue;
  border-top: 2px solid dodgerblue;
}

ion-icon{
  margin-right: 10px;
  color: dodgerblue;
}

.b{
  margin-right: 20px;
}

.item.item-input {
    background-color: transparent;
}

ion-input {
  color: white;
}

.pa{
  margin-left: 10px;
}

a{
  color: dodgerblue;
}

}
