page-admin {
  .fixed-content{
    // background-image: url('/assets/imgs/d.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    // background-color: #F3904F;
    // background: linear-gradient(to top, #004FF9 , #D3CCE3, #E9E4F0, gold );
    // background-color: #1C283E;
    // text-align: center;
  }
  
  .side{
    background: transparent;
  }

  .ad{
    background: transparent;
  }

}
